<p-toast></p-toast>
<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()" style="margin-right: 5px" ></button>
        <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" 
        (click)="confirmDelete($event)" 
        [disabled]="!selectedItems || !selectedItems.length"></button> -->
    </ng-template>

    <ng-template pTemplate="right">
        <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
        <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
    </ng-template>
</p-toolbar>

<p-table #dt [value]="records" [rows]="10" [paginator]="true" 
         [rowHover]="true" dataKey="id"
         [(selection)]="selectedItems"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
        styleClass="p-datatable-sm">
       
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
               
                <th></th>
                <th pSortableColumn="id" style="min-width:12rem;" >Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="name" style="min-width:12rem;" >Name <p-sortIcon field="nitdv"></p-sortIcon></th>
                <th pSortableColumn="image"  style="min-width:12rem;">Image <p-sortIcon field="image"></p-sortIcon></th>
                <th pSortableColumn="price" style="min-width:12rem;">Price <p-sortIcon field="nitdv"></p-sortIcon></th>
                <th pSortableColumn="price" style="min-width:12rem;">Duration <p-sortIcon field="nitdv"></p-sortIcon></th>
                <th pSortableColumn="price" style="min-width:12rem;">Description <p-sortIcon field="nitdv"></p-sortIcon></th>
                <th pSortableColumn="dateCreated" style="min-width:12rem;" >Date Created <p-sortIcon field="nitdv"></p-sortIcon></th>
                <th pSortableColumn="lastUpdated" style="min-width:12rem;">Date Updated <p-sortIcon field="nitdv"></p-sortIcon></th>
            </tr>
            
        </ng-template>
        
       
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>
                    <span><button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning " (click)="editProduct(product)"></button></span>
                    <span><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger " (click)="deleteProduct(product,$event)"></button></span>
 
                </td>

                <td>{{product.id}}</td>
                <td>{{product.nom}}</td>
                <td> <img [src]="product.imageUrl" height="100px" width="100px" alt="">
                </td>
                <td>{{product.prix}} TND</td>
                <td>{{product.duree}}</td>
                <td>{{product.description}}</td>
                <td>{{product.dateDePublication | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                <td>{{product.dateDeModification | date:'yyyy-MM-dd hh:mm:ss'}}</td>

                

                
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                <!-- In total there are {{customers ? customers.length : 0 }} items. -->
            </div>
        </ng-template>
    </p-table>


    <p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Course Details" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    
    
                <div class="field"  >
                    <label for="kid">Image </label><br>
                    <input type="file" (change)="onFileSelected($event)" ><br>
                    
                </div>
                <div class="field"  >
                    <label for="kid">Video </label><br>
                    <input type="file" (change)="onFileSelected($event)" ><br>
                    
                </div>
                <br>

                     
                <div class="field"  >
                        <label for="kid">Name </label>
                        <input pInputText  formControlName="nom"  autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && form.controls['name'].hasError('required') }"/>
                        <small class="p-error" *ngIf="form.controls['nom'].hasError('required')">Name is required</small>
                    </div>
                  
                    
                    <div class="field"  >
                        <label for="kid">Description </label>
                        <input pInputText  formControlName="description"  autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && form.controls['description'].hasError('required') }"/>
                        <small class="p-error" *ngIf="form.controls['description'].hasError('maxlength')">Maximum length is 500 characters</small>

                    </div>

                   
                    <div class="field"  >
                        <label for="price">Price </label>
                        <p-inputNumber  formControlName="prix"  autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && form.controls['prix'].hasError('required') }">
                        </p-inputNumber>                     
                        <small class="p-error" *ngIf="form.controls['prix'].hasError('required')">Price is required</small>
                    </div>
                    <div class="field"  >
                        <label for="kid">Duree </label>
                        <p-inputNumber  formControlName="duree"  autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && form.controls['duree'].hasError('required') }">
                        </p-inputNumber> 
                        <small class="p-error" *ngIf="form.controls['duree'].hasError('required')">Duree is required</small>
                    </div>
                    
                </form>
    
               
    
                
            </ng-template>
    
            <ng-template pTemplate="footer">
                <button  pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button *ngIf="newRecord==true" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSubmit()"></button>
                <button *ngIf="newRecord==false" pButton pRipple label="Update" icon="pi pi-check" class="p-button-text" (click)="update()"></button>
            </ng-template>
        </p-dialog>

        <p-confirmPopup></p-confirmPopup>