<div class="options transition" [ngClass]="{'show': showOptions}">
    <button *ngIf="!showOptions" mat-raised-button (click)="opp.toggle($event)" class="options-icon">
        <!-- <mat-icon class="mat-icon-md m-0">palette</mat-icon> -->
        <mat-icon class="mat-icon-sm">help</mat-icon>
    </button>
  
   


    <p-overlayPanel #opp [showCloseIcon]="true"  [style]="{'width': '300px','margin-left':'-2rem','margin-top':'1rem'}">
        <ng-template pTemplate>
            
       
<ng-container>
    <p-terminal  welcomeMessage="Welcome to Sunglass Bungalow Please Type 'help' for further options   Type 'exit' if you are done " prompt="customer:$"></p-terminal>
</ng-container>
        </ng-template>
    </p-overlayPanel>

</div>